/* ПРОФИЛЬ */

/* Полосы аниме и манги */
.b-stats_bar.anime .bar .first {
    background-color: #ffffff;
}
.b-stats_bar.anime .bar .second {
    background-color: #2b2b2b;
}

.b-stats_bar.manga .bar .firs  {
    background-color: #ffffff;
}
.b-stats_bar.manga .bar .second {
    background-color: #2b2b2b;
}

/* Анимка текста */
@keyframes gradientText {
  0%, 100% { color: #ffffff }
  50% { color: #FF0000 }
}

/* Ник пользователя в профиле */
.p-profiles .profile-head .c-brief header h1 {
  font-weight: 600;
  animation: gradientText 1s ease-in-out infinite;
}