body {
  background: black;
}

.l-page {
  background-color: black;
  color: white;
}

/* ------------------ПРОФИЛЬ------------------ */

/* Аватарка */
.profile-head .avatar img {
  border-radius: 50%;
}

/* Полосы аниме и манги */

.b-stats_bar.anime .bar,
.b-stats_bar.manga .bar {
  font-size: 0;
  border-radius: 10px;
  height: 8px;
  line-height: 0px;
}

.b-stats_bar.anime .bar .first,
.b-stats_bar.manga .bar .first {
  font-size: 0;
  background-color: #ffffff;
}
.b-stats_bar.anime .bar .second,
.b-stats_bar.manga .bar .second {
  font-size: 0;
  background-color: #2b2b2b;
}
.b-stats_bar.anime .bar .third,
.b-stats_bar.manga .bar .third {
  font-size: 0;
  background-color: #2b2b2b;
}

/* Анимка текста */
@keyframes gradientText {
  0%,
  100% {
    color: #ffffff;
  }
  50% {
    color: #ff0000;
  }
}

/* Ник пользователя в профиле */
.p-profiles .profile-head .c-brief header h1 {
  font-weight: 600;
  animation: gradientText 1s ease-in-out infinite;
}
