/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ОБЩИЕ
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Фон */
body {
  background: #000;
}

/* Центральная область */
.l-page {
  background-color: #000;
  color: #f2f2f2;
}

/* Подзаголовки блоков */
.headline,
.midheadline,
.subheadline {
  background-color: #000;
  color: #f2f2f2;
}

/* Кнопка "Сообщить об ошибке" */
.b-feedback {
  display: none;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ВЕРХНЕЕ МЕНЮ
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Закрепление верхнего меню */
.l-top_menu-v2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.l-page {
  margin-top: var(--top-menu-height);
}
.b-comments-notifier {
  top: var(--top-menu-height) !important;
}

/* Верхнее меню */
.l-top_menu-v2 {
  background: #000;
  color: #f2f2f2;
}

/* Подменю */
.l-top_menu-v2 .submenu {
  border-radius: 15px;
  background: #000;
  border-color: #f2f2f2;
}

/* Кнопки меню */
.l-top_menu-v2 .menu-dropdown > span {
  background: #000;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~
   ПРОФИЛЬ
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* Аватарка */
.profile-head .avatar img {
  border-radius: 50%;
}

/* Анимация ника */
@keyframes gradientText {
  0%,
  100% {
    color: #f2f2f2;
  }
  50% {
    color: #000;
  }
}

/* Ник в профиле */
.p-profiles .profile-head .c-brief header h1 {
  font-weight: 600;
  animation: gradientText 3s ease-in-out infinite;
}

/* Информации под ником */
.p-profiles .profile-head .c-brief header .notice {
  display: none;
}

/* "Список аниме" и "Список манги" */
.b-stats_bar .title {
  color: #2b2b2b; /* Приватный*/
}
.b-stats_bar a.title {
  color: #f2f2f2; /* Открытый*/
}

/* Полоски аниме и манги */

.b-stats_bar.anime .bar,
.b-stats_bar.manga .bar {
  font-size: 0;
  border-radius: 10px;
  height: 8px;
  line-height: 0px;
}

.b-stats_bar.anime .bar .first,
.b-stats_bar.manga .bar .first {
  font-size: 0;
  background-color: #f2f2f2;
}
.b-stats_bar.anime .bar .second,
.b-stats_bar.manga .bar .second {
  font-size: 0;
  background-color: #2b2b2b;
}
.b-stats_bar.anime .bar .third,
.b-stats_bar.manga .bar .third {
  font-size: 0;
  background-color: #191919;
}

/* Графики */
.graph.vertical .line .bar-container .bar {
  border-radius: 15px 15px 0 0;
  width: 40%;
}

.bar.simple .bar.s3 {
  background: #232323;
}
.bar.simple .bar.s2 {
  background: #515151;
}
.bar.simple .bar.s1 {
  background: #b5b5b5;
}
.bar.simple .bar.s0 {
  background: #f2f2f2;
}
.bar.simple .bar:hover.s3,
.bar.simple .bar:hover.s2,
.bar.simple .bar:hover.s1,
.bar.simple .bar:hover.s0 {
  background: #fff;
}

.bar.vertical {
  border-bottom: none;
}

/* Даты под графиком */
.bar.vertical .line .x_label {
  color: #fff;
}
